{{#if this.isLarge}}
    <button type="button" class="image large" {{on "click" this.toggleSize}}>
    <img ...attributes height="300px">
    <small>click to view small</small>

    </button>
{{else}}
    <button type="button" class="image" {{on "click" this.toggleSize}}>
        <img ...attributes height="150px">
        <small>click to view large</small>
    </button>
{{/if}}