<form {{on "submit" this.createMessage }}>
  <label for="name">Name:</label>
   <Input @value={{this.name}} /><br>

  <label for="text">YOUR TEXT:</label>
   <Input @value={{this.message}} />
  <button type="submit">
    Send
  </button>
  
</form>
