
<h3>
    This is home page..
</h3>
 <img src="assets/images/teaching-tomster.jpg" class="img-thumbnail" alt="Cinque Terre" /> 
 <h1>The number is {{this.model}}</h1>
 <div class="has-bg-img">
  <h2>Hero Section</h2>
  <h4>It's easy to set background image with Torus Kit</h4>
  <img class="bg-img" src="assets/images/home1.jpeg" alt="no img" height="500px" width="500px">
</div>
