<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6"><h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    <LinkTo @route="about" class="button btn btn-primary">About Us</LinkTo></div>
    <div class="col-sm-6"><img src="assets/images/teaching-tomster.jpg" class="img-fluid" alt="Cinque Terre" height="300px"/></div>
    
  </div>
</div>